$background: #eff1f2;
$background-white: #ffffff;
$background-grey: #25282A;

$font-primary: #000000;
$font-secondary: #ffffff;
$font-grey: #777777;
$font-link: #71ABFF;
$button-accent-background: #0059D9;
$button-accent-color: #ffffff;