$background: #eff1f2;
$background-white: #ffffff;
$background-grey: #25282a;

$font-primary: #000000;
$font-secondary: #ffffff;
$font-grey: #777777;

$link-color: #71abff;
$link-hover-color: #296abb;
$link-visited-color: #623cc5;

$button-accent-background: #0059d9;
$button-accent-color: #ffffff;

$field-background: #ffffff;
$field-color: #000000;
$field-border-color: #1f406f;

$slider-bar-color: #dddddd;
$slider-bar-active-color: #71abff;
