@import "../variables";

@mixin subtitle($color: $font-primary) {
  font-family: 'PTMono-Regular', serif, sans-serif, cursive, fantasy, monospace;
  color: $color;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .2em;
}
