@import "../ui/title";
@import "../ui/subtitle";
@import "../ui/link";
@import "../ui/image";
@import "../ui/text";
@import "../ui/slider";

.portfolio {
  &__header {
    text-align: center;
    margin-bottom: 80px;
  }

  &__title {
    @include title(2, $font-secondary);
    margin-bottom: 8px;
  }

  &__subtitle {
    @include subtitle($font-secondary);
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

.portfolioItem {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__info {
    text-align: center;
  }

  &__title {
    @include title(3, $font-secondary);
  }

  &__link {
    @include link();
  }

  &__text {
    @include text($font-secondary);
  }
}

.slider {
  @include slider(slider, 4, 700px, 377px, 8px);
}

.slider2 {
  @include slider(slider2, 4, 700px, 377px, 8px);
}