@import "../ui/title";
@import "../ui/subtitle";
@import "../ui/image";
@import "../ui/text";

.portfolio {
  &__header {
    text-align: center;
    margin-bottom: 80px;
  }

  &__title {
    @include title(2, $font-secondary);
  }

  &__subtitle {
    @include subtitle($font-secondary);
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

.portfolioItem {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__info {
    text-align: center;
  }

  &__title {
    @include title(3, $font-secondary);
  }

  &__link {
    text-decoration: none;
    @include subtitle($font-link);
  }

  &__image {
    background-color: cornflowerblue;
    @include image(700px, 377px);
  }

  &__text {
    width: 75%;
    @include text($font-secondary);
  }
}
